body{
    background-color: lightpink;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

header{
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
    font-size: 26px;
}

nav{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav a{
    margin: 0 20px;
}

a:hover{
    color: azure;
}

#imonit{
    color:#EB5AB2;
}

.boom{
    color:#EB5AB2;
}

.cute{
    display:flex;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
}

.q{
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    border: 2px dashed #FFDCF0;
}